* {
	/*border: 1px solid red;*/
	margin: 0px;
	padding: 0px;
	font-family: Calibri;
	box-sizing: border-box;
	border: none;
}

.container {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.row {
	width: 100%;
}

.centered {
	text-align: center;
}

.number, .txt-input, .rad-input {
	padding: 8px;
	border-spacing: 0px;
	text-align: center;
	height: 50px;
}

tbody {
    display: block;
}

.number {
	width: 35px;
}

.txt-input {
	width: 130px;
}

.rad-input {
	width: 85px;
}


.field {
	width: 100%;
}

.table-container {
	height: 370px;
	overflow: auto;
}

table {
	border-spacing: 0px;
	width: 100%;
}

button {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
}

p {
	width: 100%;
	position: relative;
	text-align: center;;
}

.has-border {
	border: 1px solid black;
	padding-left: 3px;
	border-radius: 5px;
}

.dark-green {
	background-color: rgb(10, 160, 10);
	color: white;
}

.light-green {
	background-color: rgb(170, 240, 170);
}

#banner {
	height: 80px;
}

.vertical-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.bolded {
	font-weight: bold;
}

.inv {
/*	background-color: black;
	color: white;*/
}

.teacher-col, col {
	width: 300px;
	float: left;
	overflow: hidden;
}

.teacher-row {
	height: 30px;
}

.teacher-label {
	width: 100px;
}

.pos-left {
	position: relative;
	left: 5px;
}

.roster-col {
	width: 200px;
	vertical-align: top;
}

.roster-header {
	text-align: left;
}

ul {
   list-style-position: inside;
}

#roster-body {
	width: 100%;
}

.first-col {
	width: 240px;
	text-align: left;
	padding: 8px;
}

.m-width {
	width: 40px;
}

/*.table-center {
	margin-left: auto; 
    margin-right: auto;
    margin: 0 auto;
}*/